name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x # You can change this to your desired version, e.g., '8.0.x'
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Upload build artifact
      uses: actions/upload-artifact@v4 # Action to upload files
      with:
        name: my-build-artifact # The name for your artifact
        path: dist/ # The path to the directory or file(s) you want to upload
        retention-days: 5 # Optional: specify how long to keep the artifact (default 90 days)
